@{
    ViewBag.Title = "qUnit :: Emetools";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section js{
    <link href="@Url.Content("~/Scripts/EmeTools/qunit/qunit.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/EmeTools/qunit/qunit.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/jsed/jsed.js")" type="text/javascript"> </script>

    <!--emeTools-->
    <script src="@Url.Content("~/Scripts/EmeTools/emetools.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/roboXixi.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/xixizero.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/transformarXxx.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/comandos.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/Escriptes/helpers.js")" type="text/javascript"> </script>
    
    <!--tests-->
    <script src="@Url.Content("~/Scripts/EmeTools/tests/jsedTest.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/tests/xixizeroTest.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/tests/roboXixiTest.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/tests/transformadorXxxTest.js")" type="text/javascript"> </script>
}
<h1 id="qunit-header">
    EmeTools tests</h1>
<h2 id="qunit-banner">
</h2>
<div id="qunit-testrunner-toolbar">
</div>
<h2 id="qunit-userAgent">
</h2>
<ol id="qunit-tests">
</ol>
<div id="qunit-fixture">
    test markup, will be hidden</div>
