@model Dominio.Entidades.Escripte
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Novo escripte</h2>
<style>
    #editor
    {
        position: relative;
        width: 100%;
        height: 400px;
    }
</style>

@section js{
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.textchange.min.js")"></script>
    <script src="@Url.Content("~/Scripts/ace/ace.js")"></script>
    <script src="@Url.Content("~/Scripts/ace/mode-ruby.js")"></script>
    <script src="@Url.Content("~/Scripts/Escriptes/Edit.js")"></script>
}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="editor-label">
            @Html.LabelFor(model => model.Nome)
        </div>
        <div class="editor-field textBox">
            @Html.EditorFor(model => model.Nome)
            @Html.ValidationMessageFor(model => model.Nome)
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Descricao)
        </div>
        <div class="editor-field textAreaMedia">
            @Html.TextAreaFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>
        <br/>
        <div>
            <div id="editor"></div>
        </div>
        <p>
            <input id="btnSalvar" type="button" value="salvar" />
        </p>
    </fieldset>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
