@model Dominio.Entidades.Escripte
@{
    ViewBag.Title = "Visualizar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("menu_edit_sequencer", Model)
<span class="subTitulo">Resultado</span>
@section js{
    <script src="@Url.Content("~/Scripts/EmeTools/jsed/jsed.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/emetools.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/roboXixi.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/xixizero.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/transformarXxx.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/comandos.js")" type="text/javascript"> </script>
    <script>
        $().ready(function() {
            var roboXixi = new RoboXixi($("#preEscripte").text(), '\n');
            roboXixi.transformar();
            $("#preEscripte").html(roboXixi.ResultadoFinal);
        })
    </script>
}

<div id="divEscripte">
    <pre id="preEscripte">@Model.Texto</pre>
</div>
