@model Dominio.Entidades.Escripte
@{
    ViewBag.Title = "Sequencer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("menu_edit_sequencer", Model.IdSha1)
<h2>
    Sequencer</h2>
@section js{
    <script>
        var idSha1 = '@Model.IdSha1';
    </script>
    <script src="@Url.Content("~/Scripts/jquery.textchange.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/jsed/jsed.js")" type="text/javascript"> </script>

    <script src="@Url.Content("~/Scripts/EmeTools/emetools.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/roboXixi.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/xixizero.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/transformarXxx.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/comandos.js")" type="text/javascript"> </script>

    <script src="@Url.Content("~/Scripts/Escriptes/Sequencer.js")" type="text/javascript"></script>
}
<link href="@Url.Content("~/Content/Escriptes/Sequencer.css")" rel="stylesheet" type="text/css" />
<legend>@Model.Nome</legend>
<div id="horizontalSplitter" style="height: 600px; width: 980px">
    <div>
        <div id="divListaXixizeros">
            <input type="button" id="btnRefresh" value="REFRESH" />
            <div class="subTitulo">
                sequência</div>
            <ul id="listaXixizeros">
                <li>[-1]: ORIGINAL</li>
            </ul>
        </div>
    </div>
    <div>
        <div id="verticalSplitter" style="height: 600px">
            <div>
                <div id="divEscripte">
                    <div class="subTitulo">
                        escripte</div>
                    <pre id="preXixizero"></pre>
                </div>
            </div>
            <div>
                <div id="divResultadoParcial">
                    <div class="subTitulo">
                        resultado</div>
                    <pre id="preResposta"></pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="container">
    <div id="divCopyLink">
        <span id="spanCopyLink">Pressione CTRL + C para copiar</span>
        <br />
        <textarea id="preEscripteCompleto"></textarea>
    </div>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSha1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
