@model Dominio.Entidades.Escripte
@{
    ViewBag.Title = "Sequencer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("menu_edit_sequencer", Model.IdSha1)
<h2>
    Sequencer</h2>
@section js{
    <script src="@Url.Content("~/Scripts/jquery.textchange.min.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/jsed/jsed.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTools/emetools.js")" type="text/javascript"> </script>
    <script src="@Url.Content("~/Scripts/EmeTemplates/Sequencer.js")" type="text/javascript"></script>
}

<link href="@Url.Content("~/Content/EmeTemplates/Sequencer.css")" rel="stylesheet" type="text/css" />

<fieldset>
    <legend>@Model.Nome</legend>
    <div id="container">
        <div id="divListaXixizeros">
            <div class="subTitulo">
                sequência</div>
            <ul id="listaXixizeros">
                <li>[-1]: ORIGINAL</li>
            </ul>
        </div>
        <div id="divEscripte">
            <div class="subTitulo">
                escripte</div>
            <pre id="preXixizero"></pre>
        </div>
        <div id="divResultadoParcial">
            <div class="subTitulo">
                resultado</div>
            <pre id="preResposta"></pre>
        </div>
        <div id="divCopyLink">
            <span id="spanCopyLink">copy</span>
            <br />
            @*style="display: none"*@
            <textarea id="preEscripteCompleto">@Model.Texto</textarea>
        </div>
    </div>
    <br />
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdSha1 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
